body {
  font-family: 'Inter', sans-serif;
  background-color: var(--black_main);
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  padding: 40px;
}

html, body {
  height: 100%;
}

:root {
  --header_height: 56px;
  --blue_main: #0066FF;
  --black_main: #000000;
  --black_light: #646369;
}

* {
  box-sizing: border-box;
}

.container {
  text-align: center;
  margin: auto;
  /*verwijder dit voor: button op index pagina even groot maken als content*/
  display: flex;
  flex-direction: column;
}

h1 {
  color: #FFFFFF;
  font-size: 44px;
  font-weight: 700;
  margin: 0 0 40px 0;
}

h3 {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 500;
  margin: 0 0 5px 0;
}
p {
  color: #FFFFFF;
  opacity: 0.75;
  margin: 8px 0 0 0;
}

.button {
  background-color: #0080FF;
  border-radius: 15px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 600;
  padding: 15px;
}


/*Swiper Styling*/
.swiper {
  text-align: center;
  width: 700px;
  margin: auto;
}

.swiper-slide {
  border-radius: 20px;
  padding: 20px;
  background: #111111;
}

.swiper-slide .boardstate-img {
  width: 100%;
}

.swiper .swiper-title {
  margin: 0;
}

.swiper .swiper-subtitle {
  margin: 0 0 20px 0;
}

.swiper .swiper-answers {
  background-color: black;
  padding: 20px;
  border-radius: 20px;
  list-style: none;
}
